{% extends 'layout.html' %}

{% block title %}
    Home
{% endblock title %}

{% block body %}
    <div class="container my-4">
        <div class="row">
            <div class="col-md-6">
                <img src="/static/images/img1.jpeg" alt="" class="img-fluid">
            </div>
            <div class="col-md-6 my-4"> 
                <div class="text-center my-4">
                    <a href="/company/" class="btn btn-warning btn-lg float-left my-4">Company Home</a>
                    <a href="/resume/" class="btn btn-warning btn-lg float-right my-4">Student Home</a>
                    <br><br><br><br><br><br><br><br><br><br><br>
                    <a href="mailto:alankar.18bci1037@abes.ac.in" class="h3"><i class="fa fa-envelope px-3"></i>Contact the Developer</a>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
