{% extends 'resume_base.html' %}

{% block resume-form %}

<h2 class="mb-3">References</h2>
<form method="POST">
    {% csrf_token %}
    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="resume_reference_name">Name *</label>
            {% if user.resume_detail.resume_reference_name %}
                <input type="text" class="form-control" value="{{ user.resume_detail.resume_reference_name }}" name="resume_reference_name" id="resume_reference_name" placeholder="Name" required>
            {% else %}
                <input type="text" class="form-control" name="resume_reference_name" id="resume_reference_name" placeholder="Name" required>
            {% endif %}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="resume_reference_designation">Designation *</label>
            {% if user.resume_detail.resume_reference_designation %}
                <input type="text" class="form-control" value="{{ user.resume_detail.resume_reference_designation }}" name="resume_reference_designation" id="resume_reference_designation" placeholder="Designation" required>
            {% else %}
                <input type="text" class="form-control" name="resume_reference_designation" id="resume_reference_designation" placeholder="Designation" required>
            {% endif %}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="resume_reference_organization">Organization *</label>
            {% if user.resume_detail.resume_reference_organization %}
                <input type="text" class="form-control" value="{{ user.resume_detail.resume_reference_organization }}" name="resume_reference_organization" id="resume_reference_organization" placeholder="Organization" required>
            {% else %}
                <input type="text" class="form-control" name="resume_reference_organization" id="resume_reference_organization" placeholder="Organization" required>
            {% endif %}
        </div>
    </div>
    <button type="submit" class="btn btn-outline-primary float-right my-3">Save</button>
</form>

{% endblock resume-form %}

{% block view_resume %}
    <li class="nav-item active mx-4">
        <a href="/resume/resume-print/" target="_blank" class="nav-link text-warning btn my-auto btn-outline-warning">
            <h5 class="mb-1">View Your Resume</h5>
        </a>
    </li>
{% endblock view_resume %}