{% extends 'layout.html' %}

{% block title %}
Builder
{% endblock title %}

{% block style %}

<style>
    .resume-nav {
        width: 100px;
    }
</style>

{% endblock style %}

{% block student_home %}
<a href="/resume" class="btn nav-link btn-warning btn-sm">Student Home</a>
{% endblock student_home %}

{% block body %}

<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-md-1"></div>
            <div class="col-md-4 text-center">
                <div class="btn-group-vertical" role="group">
                    <a type="button" href="/resume/resume-personal" class="btn btn-warning rounded-pill resume-nav">Personal Information</a><br>
                    <a type="button" href="/resume/resume-career" class="btn btn-warning rounded-pill resume-nav">Career Objective</a><br>
                    <a type="button" href="/resume/resume-tech-skills" class="btn btn-warning rounded-pill resume-nav">Technical Skills</a><br>
                    <a type="button" href="/resume/resume-academic" class="btn btn-warning rounded-pill resume-nav">Academic Credentials</a><br>
                    <a type="button" href="/resume/resume-other-qual" class="btn btn-warning rounded-pill resume-nav">Other Qualifications</a><br>
                    <a type="button" href="/resume/resume-train-certi" class="btn btn-warning rounded-pill resume-nav">Trainging & Certification</a><br>
                    <a type="button" href="/resume/resume-skills-achieve" class="btn btn-warning rounded-pill resume-nav">Skills & Achievements</a><br>
                    <a type="button" href="/resume/resume-co-curricular" class="btn btn-warning rounded-pill resume-nav">Co-Curricular Activities</a><br>
                    <a type="button" href="/resume/resume-references" class="btn btn-warning rounded-pill resume-nav">References</a>
                </div>
            </div>
        <div class="col-md-6">
            <div class="row my-3">
                <div class="col-md-12">
                    {% block resume-form %}
                    {% endblock resume-form %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock body %}

